<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading lead" style="margin:0;"><strong>뮤직 비디오</strong></div>
    <div class="panel-body">
      <iframe src="https://www.youtube.com/embed/<%= song.youtube_id %>" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      allowfullscreen></iframe>
    </div>
  </div>
</div>