<% provide(:title, 'About') %>
<div class="jumbotron">
  <h1>About</h1>
  <h2>
    무료 기타 코드 악보 사이트입니다. Github 페이지는 
    <a href="https://github.com/peterkang98/guitar-chord-rails-app-aws">여기에서</a> 볼 수 있습니다.
  </h2>
  <h3><strong><u>주요 기능</u></strong></h3>
  <ul class="lead">
    <li><strong>곡 제목 또는 가수명으로 검색 가능</strong></li>
    <li><strong>악보 즐겨찾기(회원인 경우)</strong></li>
    <li><strong>인기 악보, 인기 가수 순위</strong></li>
    <li><strong>음악 장르 카테고리</strong></li>
    <li><strong>악보 자동 스크롤, 속도 조절(노래의 BPM에 맞출 수도 있음)</strong></li>
    <li><strong>악보 키 조절</strong></li>
    <li><strong>카포 위치 조절</strong></li>
  </ul>
</div>