<div class="center jumbotron">
  <h1>기타 코드 악보 사이트에 오신 것을 환영합니다!</h1>
  <h2>
    무료로 악보를 제공하며, PC와 모바일 모두 호환 가능합니다.
  </h2>
  <%= link_to "회원가입", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="well col-sm-8">
  
</div>
<div class="col-sm-4">

</div>
