<footer class="footer">
  <small>기타 코드 악보 사이트 by 강동현</small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>